# Ignore all files in data/raw except .gitkeep
data/raw/*
!data/raw/.gitkeep

# Ignore local environment files
.ipynb_checkpoints/

# OPTIONAL: Ignore all other .gitkeep files if you don't want to track them elsewhere
# But don't use this line if you want to track .gitkeep in other folders
# .gitkeep